/dist/
build/web/WEB-INF/classes/ServletSubmit.class

*.class

*.class

build/web/WEB-INF/classes/FileHandler.class

build/web/WEB-INF/classes/Description.class

build/web/upload.php

build/web/POE.html

build/web/CSS.css

build/web/CSS.css

build/web/CSS.css

build/web/CSS.css

build/web/POE.html

nbproject/project.properties

nbproject/private/private.xml

src/java/POEServlet.java

src/java/UploadHandler.java

build/web/WEB-INF/classes/ServletSubmit.class

build/web/WEB-INF/classes/ProjectRequestProgress/RequestData.class

build/web/WEB-INF/classes/ProjectRequestProgress/RequestData.class

*.php
